*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Courier New', Courier, monospace; }

h1 {
  color: #262626;
  margin: 10px 0; }

p {
  color: #262626;
  margin: 10px 0; }
  p.copy {
    font-size: 0.8rem;
    color: gray; }
  p.headline {
    color: #262626;
    font-weight: 400;
    margin: -10px 0 12px 0; }

ul > li {
  list-style: none; }
  ul > li > a {
    text-decoration: none; }

section {
  height: 100vh; }

div.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%; }

div#sidebar {
  width: 250px;
  padding: 20px;
  margin: 1.5rem 3rem 0 0;
  border: solid 1px #dcdcdc;
  border-radius: 8px; }

div.content {
  background-color: #ffffff;
  padding: 20px;
  width: 30%;
  height: 100%; }

div.default {
  background-color: #ffffff;
  padding: 20px;
  width: 30%; }

div.photo {
  height: 120px;
  width: 120px; }
  div.photo > img {
    border-radius: 100%;
    height: 100%;
    width: 100%; }

div.img-align {
  display: flex;
  justify-content: center; }

#mysvg {
  height: 30px;
  width: 30px; }

.socmed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem; }
  .socmed > li {
    margin: 0 10px; }
